{% extends 'base.html.twig' %}

{% block title %}Edit EventCalendar{% endblock %}

{% block body %}
    <h1>Edit EventCalendar</h1>

    {{ include('event_calendar/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_calendar_index') }}">back to list</a>

    {{ include('event_calendar/_delete_form.html.twig') }}
{% endblock %}
