{{ form_start(form) }}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
   {{ form_widget(form) }}
    <p class="text-center mt-1 mb-5">
        <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    </p>
{{ form_end(form) }}
