{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Créer un nouvel événement</h1>
    
    {{ include('event/_form.html.twig') }}

    <p class="mt-5 mb-5">
        <a href="{{ path('app_event_index') }}">Retour à la liste des événements</a>
    </p>

</main>
{% endblock %}
