{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}Edit DanceTeacher{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Modification</h1>

    {{ include('dance_teacher/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('dance_teacher/_delete_form.html.twig') }}

    <p class="mt-5 mb-5">
        <a href="{{ path('app_dance_teacher_index') }}">Retour à la list des profs</a>
    </p>

</main>
{% endblock %}
