{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<main class="container">

    <div class="text-center mt-5 mb-5">
        <button class="button-form-contact">
            <a href="{{ path('app_user_message_new') }}">Nous contacter</a>
        </button>
        <div>
            <p>
            Horaires d'ouverture : <br/>
            Du lundi au vendredi de 16h à 22h<br/>
            </p>

            <p>
            Adresse :<br/>
            Ecole Step And Go<br/>
            17 avenue de la Danse</br>
            69008 LYON
            </p>
        </div>
    <p>Nous trouver : </p>

    <div class="text-center carte_responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6251.644369162497!2d4.869084650696008!3d45.73528613399819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c1e36e3794dd%3A0x1b364b89d5bea84!2sMaison%20de%20la%20Danse!5e0!3m2!1sfr!2sfr!4v1658427825530!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</main>
{% endblock %}