{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}


{% block body %}

<main class="container">   

    <h1 class="text-center mt-5">Informations utiles</h1>

    <div class="text-center mt-5 mb-5">
        <button class="button-form-contact">
            <a href="{{ path('app_user_message_new') }}">Nous contacter</a>
        </button>
    </div>

    <div class="text-center mt-5 mb-5">
        <p>Horraires : Du lundi au vendredi : de 17h à 22h30</p>

        <p>Adresse : 17 avenue du quartier de la Danse </br>
        69008 LYON</p>

        <p>Nous trouver : </p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2824439.2682905355!2d1.1122882447200912!3d46.26530525690529!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47f4c1e36e3794dd%3A0x1b364b89d5bea84!2sMaison%20de%20la%20Danse!5e0!3m2!1sfr!2sfr!4v1658337432816!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</main>

{% endblock %}