{% extends 'base.html.twig' %}


{% block title %}Step and Go{% endblock %}


{% block body %}

<h1>{{ website }}</h1>

<img src="{{ asset('build/images/dancer.png') }}" alt="Dancer">

{% endblock %}
