{% extends 'base.html.twig' %}

{% block title %}Step and Go{% endblock %}


{% block body %}
<main class="container">

    <h1 class="text-center mt-5"><img src="{{ asset('build/images/dancer.png') }}" alt="Dancer" width="100px">{{ website }}</h1>

    

</main>

{% endblock %}
