{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
<main class="container">

    <p class="planning-image text-center mt-5 mb-5">
        <div class="mt-5 mb-5" id="calendar" class="Planning"></div>
    </p>

    <h1 class="text-center mb-5">Tarifs et modalités d'inscription</h1>

    <p class="content-register mb-5">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </br></br>
        It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    </p>

</main>
{% endblock %}

{% block javascripts %}
<script>
    window.onload = () => {
        let calendarElt = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timezone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: 'title',
                end: 'timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Aujourd\'hui',
                week: 'Semaine',
                day: 'Jour',
            },
            events: {{ data|raw }}
        });
        calendar.render();
    };
</script>
{% endblock %}