{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('planning') }}
{% endblock %}

{% block body %}
<main class="container">

    <div class="dance_title">
        <h1 class="text-center mt-5 mb-5">Planning des cours et des événements</h1>
    </div>

    <p class="content text-center">
        En plus des cours, nous organisons tout au long de l'année de nombreux stages.<br>
        N'hésitez pas à consulter régulièrement le planning des événements ci-dessous. 
    </p>

    <div id="planning-container" class="scrollable mb-5">
        <Planning></Planning>
    </div>

</main>
{% endblock %}
