{% extends 'base.html.twig' %}

{% block title %}Planning{% endblock %}


{% block body %}

<main class="container">

    <h1 class="text-center mt-5 mb-5">Planning des cours</h1>
    <p>Session 2022 - 2023</p>
    
    <iframe src="{{ asset('build/images/planning-dance-2022-2023.pdf#toolbar=0') }}" class="iframe planning"></iframe>

</main>

{% endblock %}