{% extends 'base.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block body %}
<main class="container">

    <dic class="dance_title">
        <h1 class="text-center mt-5 mb-5">Tarifs</h1>
    </div>

    <p class="content-register text-center mt-5 mb-5">
        Les inscriptions se font directement à l'école, et sont possibles tout au long de l'année.<br>
        N'hésitez pas à nous contacter au préalable pour plus d'informations.<br>
        Il est possible de régler par chèque, carte bancaire ou espèces.
    </p>
    
    <div class="container">
        <table class="table table-hover mb-5">
            <thead>
                <tr>
                    <th scope="col" class="px-3">Formule choisie</th>
                    <th scope="col">Tarif</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="px-3">1 cours par semaine / an</td>
                    <td>320€</td>
                </tr>
                <tr>
                    <td class="px-3">2 cours par semaine / an</td>
                    <td>600€</td>
                </tr>
                <tr>
                    <td class="px-3">3 cours par semaine / an</td>
                    <td>850€</td>
                </tr>
                <tr>
                    <td class="px-3">Cours à la carte</td>
                    <td>15€ / cours</td>
                </tr>
                <tr>
                    <td class="px-3">Stage demi-journée</td>
                    <td>30€</td>
                </tr>
            </tbody>
        </table>
    </div>

</main>
{% endblock %}