{% extends 'base.html.twig' %}

{% block title %}Les cours de danses{% endblock %}


{% block body %}

<main class="container">

{% for dance in danceClasses %}

<div class="d-inline-flex m-3 card" style="width: 18rem;">
  <img class="card-img-top" src="" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ dance.name  }}</h5>
    <a href="#" class="btn btn-primary">Voir plus</a>
  </div>
</div>

{% endfor %}



</main>

{% endblock %}
