{% extends 'base.html.twig' %}

{% block title %}Les professeurs{% endblock %}


{% block body %}

<main class="container">

{% for teacher in danceTeachers %}
 
    <div class="d-inline-flex m-3 card" style="width: 18rem;">
        <img class="card-img-top" src="https://i.pravatar.cc/300" alt="Card image cap">
        <div class="card-body">
        <h5 class="card-title">{{ teacher.firstname }} - {{ teacher.lastname }}</h5>
        <p>{{ teacher.DanceClasses.name}}</p>
        <a href="#" class="btn btn-primary">Voir plus</a>
    </div>
</div>
{% endfor %}

</main>

{% endblock %}