{% extends 'base.html.twig' %}

{% block title %}Step and Go{% endblock %}

{% block body %}
<main class="container">
    <div class="dance_title">
        <h1 class="text-center mt-5 mb-5">{{ dance_class.name|upper }}</h1>
    </div>

    <div class="text-center">
        <img class="photo_classes" src="{{ dance_class.poster }}" alt="photo dance class">
    </div>

    <p class="content text-center mt-5 mb-5">
        {{ dance_class.description }}    
    </p>
</main>
{% endblock %}