{% extends 'base.html.twig' %}

{% block title %}Les cours de danses{% endblock %}

{% block body %}
<main class="text-center">

    {% for dance in danceClasses %}

    <div class="d-inline-flex m-3 ">
        <div class="card-style" style="width: 18rem;">
            <img class="card-img-top" src="{{ dance.poster  }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title text-center">{{ dance.name }}</h5>
                <p>{{ dance.description }}</p>
                <p class="text-center">
                    <button type="button" class="button-action-card">Voir plus</button>
                </p>
            </div>
        </div>
    </div>

    {% endfor %}

</main>
{% endblock %}
