<form method="post" action="{{ path('app_dance_classes_delete', {'id': dance_class.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ dance_class.id) }}">
    <p class="text-center mt-5 mb-5">
        <button class="btn">Effacer</button>
    </p>
</form>
