{% extends 'base.html.twig' %}

{% block title %}Edit DanceClasses{% endblock %}

{% block body %}
    <h1>Edit DanceClasses</h1>

    {{ include('dance_classes/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dance_classes_index') }}">back to list</a>

    {{ include('dance_classes/_delete_form.html.twig') }}
{% endblock %}
