{% extends 'base.html.twig' %}

{% block title %}New DanceClasses{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Create new DanceClasses</h1>

    {{ include('dance_classes/_form.html.twig') }}

    <p class="text-center mt-5 mb-5">
        <a href="{{ path('app_dance_classes_index') }}">back to list</a>
    </p>
{% endblock %}
