@import "_var.scss";

.title {
    background-color: $primary-white;
    font-size: 40px;
    h1 {
        font-family: $title-font;
        font-weight: bold;
        font-size: 1.5em;
    }
}

.navbar-expand-md {
    background-color: $primary-white;
    border-bottom: 1.5px solid $secondary-orange;
}

.navbar-collapse {
    justify-content: center;
}

.navbar-nav.li.a {
    list-style-type: none;
}

a.nav-link {
    color: $primary-dark;
    font-family: $title-font;
    font-weight: bold;
    font-size: 1.3em;
    position: relative;
    text-decoration: none;
    img {
        width: 40px;
    }
}

a.nav-link:hover {
    color: $primary-dark;
}
a.nav-link.dropdown-toggle {
    color: $primary-dark;
}

.nav-item {
    list-style-type: none;
    padding-right: 30px;
    padding-left: 30px;
}

.navbar-toggler {
    color: transparent;
    img {
        text-align: center;
    }
}

.footer {
    border-top: 1.5px solid $secondary-orange;
}

#logo-login {
    cursor: unset;
}

@media screen and (max-width: 768px) {
    .title {
        h1 {
            font-size: 1em;
        }
    }
}
