@import "_var.scss";

.button-login {
    padding: 10px;
    color: $primary-white;
    background-color: $primary-pink;
    border-radius: 10px;
    font-family: $title-font;
    font-weight: bold;
    font-size: 18px;
}