@import "_var.scss";

.login-container {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

.button-login {
    padding: 10px;
    color: $primary-white;
    background-color: $primary-pink;
    border-radius: 10px;
    font-family: $title-font;
    font-weight: bold;
    font-size: 18px;
}

@media screen and (max-width: 768px){
    .login-container  {
        width: 90%;
    }
}