@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Codystar&family=DM+Sans&family=Outfit:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dawning+of+a+New+Day&family=Reenie+Beanie&family=WindSong:wght@500&display=swap');

$primary-white: #FFFFFF;
$primary-pink: #F8CACA;
$primary-dark: #000;
$primary-grey: rgb(211, 200, 200);

$secondary-grey: #cfc6c6;
$secondary-black: #333333d3;

$color-danger: rgb(221, 85, 85);

$title-font: 'Codystar', sans-serif;
$content-font: 'DM Sans', sans-serif;
$school-font: 'Reenie Beanie', sans-serif;