@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

$primary-white: #FFFFFF;
$primary-pink: #F8CACA;
$primary-dark: #000;
$primary-grey: rgb(211, 200, 200);

$secondary-grey: #333333d3;
$color-danger: rgb(221, 85, 85);


$title-font: 'Courgette', sans-serif;;