@import "~bootstrap/scss/bootstrap";

body {
    background-color: rgb(255, 255, 255);
}

.navbar-expand-lg {
    background-color: #F8CACA;
}

.navbar-collapse {
    justify-content: center;
}

.nav-link {
    color: white;
}

.nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-toggler, .navbar-toggler-icon, span {
    color: white;
}
