@import "vuetify/dist/vuetify.min.css";
@import "stepAndGo.scss";
@import "_header.scss";
@import "_login.scss";
@import "_content.scss";

.body {
    background-image: url("../images/bg_multicolor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#event_start, #event_end, #event_timed {
    text-align: center;
}