@import "_var.scss";

//Accueil Step And Go
.photo-accueil {
    width: 100%;
    height: 500px;
}
.container {
    .content {
        text-align: justify;
    }
}

//Dance Classes



//Dance Teachers



//Planning



//Inscription



//Contact