@import "_var.scss";

//Accueil Step And Go
.photo-accueil {
    width: 100%;
    height: 500px;
}
.container {
    .content {
        text-align: justify;
    }
}

//Dance Classes
.card-img-top {
    width: 100%;
    height: 300px;
}

h5 {
    font-family: $title-font;
    font-weight: bold;
}

.button-action-card {
    padding: 5px;
    color: $primary-white;
    background-color: $primary-pink;
    border-radius: 5px;
    font-family: $title-font;
    font-size: 14px;
}

.card-style {
    border-radius: 10px;
    box-shadow: 5px 2px 2px $primary-grey;
}

//Dance Teachers



//Planning



//Inscription



//Contact