@import "_var.scss";

// Body
html, body {
    background-image: url("../images/bg_multicolor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
}

// Page d'accueil Step And Go
#photo-accueil {
    width: 100%;
    height: 600px;
}

.title-welcome {
    font-family: $school-font;
    font-weight: bold;
    font-size: 2.3em;
}

.content {
    text-align: justify;
    margin-left: 200px;
    margin-right: 200px;
    color: $primary-dark;
    font-size: 0.9em;
    font-family: $content-font;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    #container-carousel {
        position: relative;
        .photo-carousel {
            width: 900px;
            height: 500px;
        }
        .carousel-title {
            margin-top: 20px;
            text-align: center;
            color: $primary-dark;
            font-size: 0.9em;
            font-family: $content-font
        }
        .bouton {
            position: absolute;
            width: 45px;
            cursor: pointer;
            padding: 0 10px;
            top: 40%;
        }
    }  
}

#leftButton {
    left: -50px;
    opacity: 1;
    transform: rotate(0deg);
    transition:all 0.3s ease;
}
#rightButton{
    right: -50px;
    opacity: 1;
    transform: rotate(180deg);
    transition:all 0.3s ease;
}
#leftButton:hover{
    transform: rotate(0deg) scale(1.1);
    opacity: 1;
    transition:all 0.3s ease;
}
#rightButton:hover{
    transform: rotate(180deg) scale(1.1);
    opacity: 1;
    transition:all 0.3s ease;
}

//Dance Classes //Dance Teachers
.dance_title {
    h1 {
        font-family: $content-font;
        font-size: 2em;
    }
}

.dance_teacher_title {
    h2 {
        font-family: $content-font;
        font-size: 1.4em;
    }
}

.photo_classes, .photo_teacher {
    width: 400px;
}

.content {
    vertical-align: middle;
    line-height: normal;
    p {
        font-size: 0.9em;
        font-family: $content-font
    }
}

//Planning
#event_start, #event_end, #event_timed {
    text-align: center;
}

.scrollable {
    overflow-x: auto;
    overflow-y: hidden;
 }

 .v-btn__content {
    color: $primary-dark;
    font-weight: bold;
 }

.only_date_field .input-group {
    display: none !important;
 }

//Tarifs
.content-register {
    text-align: justify;
    font-family: $content-font;
    font-size: 0.9em;
    font-family: $content-font
}

//Contact
.button-form-contact {
    a {
        text-decoration: none;
        color: $primary-white;
        font-family: $title-font;
        font-weight: bold;
        font-size: 18px;
    }
    padding: 10px;
    background-color: $primary-dark;
    border-radius: 10px;
}

.carte_responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.carte_responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

@media screen and (max-width: 768px) {
    .content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .bouton {
        top: 30%;
    }
    #leftButton{
        left: 0;
    }
    #rightButton{
        right: 0;
    }
    #photo-accueil, .photo_classes, .photo_teacher {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 650px) {
    .carousel {
        #container-carousel {
            .photo-carousel {
                width: 100%;
                height: auto;
            }
            .bouton {
                width: 35px;
                top: 30%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #photo-accueil {
        width: 100%;
        height: 500px;
    }
}