<footer class="text-center footer text-lg-start bg-light text-muted">
    <section class="text-center">
       Rejoignez-nous sur les réseaux
    </section>
    
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="#">https://www.step_and_go.com</a>
    </div>
</footer>