<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('build/images/dancer_logo.png') }}" alt="icon danseur">

        <meta name="viewport" content="width=device-width">
        {# Le initial-scale=1.0 signifie au navigateur qu’il doit initialiser les dimensions en se basant sur le pixel-ratio du système, 
        et le user-scalable=yes autorise l’utilisateur à zoomer s’il le souhaite #}
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes" />
        
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% include '_header.html.twig' %}
        {% block body %}{% endblock %}
        {% include '_footer.html.twig' %}
    </body>
</html>
