{% extends 'base.html.twig' %}

{% block title %}Edit UserMessage{% endblock %}

{% block body %}
    <h1>Edit UserMessage</h1>

    {{ include('user_message/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_message_index') }}">back to list</a>

    {{ include('user_message/_delete_form.html.twig') }}
{% endblock %}
