{% extends 'base.html.twig' %}

{% block title %}New UserMessage{% endblock %}

{% block body %}
    <h1>Create new UserMessage</h1>

    {{ include('user_message/_form.html.twig') }}

    <a href="{{ path('app_user_message_index') }}">back to list</a>
{% endblock %}
