{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New UserMessage{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Nous contacter</h1>

    {{ include('user_message/_form.html.twig') }}

{% endblock %}
