{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}New UserMessage{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Nous contacter</h1>

    {{ include('user_message/_form.html.twig') }}

    <div class="modal-container">

        <div class="overlay modal-trigger"></div>

        <div class="modal-content">
            <button id="close-modal" class="close-modal modal-trigger">X</button>
            <h1 class="text-center mt-3 mb-3">Merci</h1>
            <p class="mb-2">Votre message a bien été envoyé, nous vous répondrons dans les plus brefs délais.</p>
            <p class="mb-2">Pour toute inscription envoyez-nous votre réglement, nous vous recontacterons afin de valider votre inscription.</p>
        </div>

    </div>
    
{% endblock %}
