{% extends 'base.html.twig' %}

{% block title %}Edit EventPlanning{% endblock %}

{% block body %}
    <h1>Edit EventPlanning</h1>

    {{ include('event_planning/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_event_planning_index') }}">back to list</a>

    {{ include('event_planning/_delete_form.html.twig') }}
{% endblock %}
