{% extends 'base.html.twig' %}

{% block title %}New EventPlanning{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Créer un nouveau planning</h1>

    {{ include('event_planning/_form.html.twig') }}
    
    <p class="mt-5 mb-5">
        <a href="{{ path('app_event_planning_index') }}">Retour à la liste des plannings</a>
    </p>

</main>
{% endblock %}
