{% extends 'base.html.twig' %}

{% block title %}New RepeatedEvent{% endblock %}

{% block body %}
<main class="container">

    <h1 class="text-center mt-5 mb-5">Créer un nouvel événement répétitif</h1>
    
     {{ include('repeated_event/_form.html.twig') }}

    <p class="mt-5 mb-5">
        <a href="{{ path('app_repeated_event_index') }}">Retour à la liste des événements répétitifs</a>
    </p>

</main>
{% endblock %}
